<%- include ('../partials/boilerplate') %>



<div class="container">
    <% for (let plant of data.plants) { %>
        <div class="plant-container">
            <h3><%= plant.plantName %></h3>
            <a href="/plants/<%= plant.id%>">View</a>
            <form method="POST" action="/plants/<%= plant.id %>?_method=DELETE">
                <input type="submit" value="Remove this plant">
            </form>
        </div>
    <% } %>
</div>











<%- include ('../partials/end') %>